body
{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e0dbdb;
}
/*Start Header Section (Landing Page) *****************************************/
.jumbotron {
  position: relative;
  background:none;
  margin-bottom: 0;
}
.jumbotron:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/dolar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35vh;
  opacity : 0.8;
  z-index: -1;
}

.jumbotron h1
{
  font-weight: 700;
  font-size: 3.8rem;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

.jumbotron .btn 
{
  min-width: 15vw;
  height: auto;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.548);
  text-transform: uppercase;
  font-weight: 700;
}

.jumbotron .btn:hover
{
  cursor: pointer;
}
/*End Header Section (Landing Page) *****************************************/

/*Start Navbar Section ******************************************************/
.navbar
{
  min-height: 3.6rem;
  width: 100%;
  position: absolute;
  top: 60;
  left: 0;
}

.navbar-nav li
{
  font-size: 1.3rem;
  margin-right: .8rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.active
{
  background-color: #f08e06;
  border-radius: .4rem;
}
/*End Navbar Section ******************************************************/

/*Start Content Section ***************************************************/
#tabela_kursow {
  background-color: #000;
  background-image: url(../img/kursy.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  padding-bottom: 6rem;
  padding-top: 10rem;
}

#exchangeRate {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center; }

#td-0 {
  background: url("../img/flags/united-states-of-america.png") no-repeat 2px; }

#td-1 {
  background: url("../img/flags/australia.png") no-repeat 2px; }

#td-2 {
  background: url("../img/flags/canada.png") no-repeat 2px; }

#td-3 {
  background: url("../img/flags/european-union.png") no-repeat 2px; }

#td-4 {
  background: url("../img/flags/hungary.png") no-repeat 2px; }

#td-5 {
  background: url("../img/flags/switzerland.png") no-repeat 2px; }

#td-6 {
  background: url("../img/flags/united-kingdom.png") no-repeat 2px; }

#td-7 {
  background: url("../img/flags/japan.png") no-repeat 2px; }

#td-8 {
  background: url("../img/flags/czech-republic.png") no-repeat 2px; }

#td-9 {
  background: url("../img/flags/denmark.png") no-repeat 2px; }

#td-10 {
  background: url("../img/flags/norway.png") no-repeat 2px; }

#td-11 {
  background: url("../img/flags/sweden.png") no-repeat 2px; }

h2 {
  text-align: center;
  font-size: 2.5em;
  color: #fdcc26;
  margin-bottom: 1.3rem;
}

[id*="td-"] {
  padding-left: 35px;
  text-align: left;
  white-space: nowrap; }

table {
  width: 420px;
  margin: 0 auto; }

thead {
  background-color: #98332d;
  color: white;
}

th {
  padding: 5px; }

tbody tr {
  background-color: #04438b;
  background-color: #007ac071;
  color: antiquewhite;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }

tbody tr:nth-child(even) {
  background-color: #8acdea;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #17195f; }

.alert {
  color: #fc0000;
  font-size: 1.2em; }
/*End Content Section ***************************************************/

/*Start Footer Section *****************************************/
footer
{
  background-color: #585555;
  color: white;
  padding: 2rem 0 2rem;
  border-top: 2px solid #f08e06;
}
footer img
{
  height: 3rem;
  margin: 1.5rem 0;
}
footer a
{
  color: white;
}
footer svg.svg-inline--fa
{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover
{
  color: #ecbd7c !important;
}
hr.socket
{
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}
/*End Footer Section *****************************************/





/*--- Media Queries --- */
@media (max-width: 450px) and (max-height: 850px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 60vh;
  }
  .jumbotron h1
  {
    font-size: 2.7rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 510px) and (max-width: 600px) and (max-height: 800px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 40vh;
  }
  .jumbotron h1
  {
    font-size: 3rem;
  }
}

@media (min-height: 500px) and (max-height: 600px) and (max-width: 500px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 60vh;
  }
  .jumbotron h1
  {
    font-size: 2.5rem;
  }
  /* Navbar Section */
  .navbar
  {
    top: 60vh;
  }
}

@media (min-height: 660px) and (max-height: 690px) and (max-width: 500px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 55vh;
  }
  .jumbotron h1
  {
    margin-top: 1.5rem;
  }
  /* Navbar Section */
  .navbar
  {
    top: 50vh;
  }
}

@media (min-height: 700px) and (max-width: 600px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 50vh;
  }
}

@media (min-height: 800px) and (max-width: 500px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 45vh;
  }
  .jumbotron h1
  {
    margin-top: 2rem;
  }
}

@media (min-height: 900px) and (max-width: 800px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 40vh;
  }
  .jumbotron h1
  {
    font-size: 3.6rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
  }
  /* Footer Section */
  .footer
  {
    font-size: 1.2rem;
  }
}

@media (min-height: 1200px) and (max-width: 1100px)
{
  /* Header Section (Landing Page) */
  .jumbotron:after
  {
    height: 30vh;
  }
  .jumbotron h1
  {
    font-size: 4.7rem;
  }

  /* Navbar Section */
  .navbar
  {
    top: 28vh;
  }

  /* Footer Section */
  .footer
  {
    font-size: 1.2rem;
  }
}

@media (max-height: 830px) and (min-width: 1100px)
{
  .jumbotron:after
  {
    height: 40vh;
  }
}